# This inventory describe a HA typology with stacked etcd (== same nodes as control plane)
# and {{ kubernetes_nodes | selectattr('role', 'equalto', 'worker') | list | length }} worker nodes
# See https://docs.ansible.com/ansible/latest/inventory_guide/intro_inventory.html
# for tips on building your inventory

# Configure 'ip' variable to bind kubernetes services on a different ip than the default iface
# We should set etcd_member_name for etcd cluster. The node that are not etcd members do not need to set the value,
# or can set the empty string value.
[kube_control_plane]
{% for node in kubernetes_nodes %}
{% if node.role == 'control_plane' %}
{{ node.name }} ansible_host={{ node.ansible_host }} ip={{ node.ip }}{% if node.etcd_member_name is defined %} etcd_member_name={{ node.etcd_member_name }}{% endif %}
{% endif %}
{% endfor %}

[etcd:children]
kube_control_plane

[kube_node]
{% for node in kubernetes_nodes %}
{{ node.name }} ansible_host={{ node.ansible_host }} ip={{ node.ip }}
{% endfor %}

[calico_rr]

[k8s_cluster:children]
kube_control_plane
kube_node
calico_rr