# This file is managed by Ansible.
network:
  version: 2
  ethernets:
    ens33:
      addresses:
        - 10.10.1.1/24
      # gateway4: 10.10.1.1 # Uncomment if this server is the gateway
      nameservers:
        addresses: [10.10.1.1]
    ens34:
      dhcp4: true
