#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: "{{ hostname }}"
    realname: "sysadmin"
    username: sysadmin
    password: "{{ sysadmin_password_hash }}"
  ssh:
    install-server: true
    authorized-keys:
      - "{{ sysadmin_pub_key }}"
    allow-pw: false
  storage:
    layout:
      name: lvm
  packages:
    - curl
    - vim
    - net-tools
  late-commands:
    - 'curl -s "http://{{ server_ip }}/index.php?action=callback&status=DONE&mac={{ mac }}"'
  shutdown: reboot
