# /etc/dnsmasq.d/provisioning.conf

# === General Configuration ===
interface={{ dnsmasq_interface }}
listen-address={{ dnsmasq_listen_address }}
listen-address=127.0.0.1
bind-interfaces
no-resolv
no-poll
clear-on-reload
domain={{ dnsmasq_domain }}
domain-needed
bogus-priv

# === Upstream DNS Servers ===
server=8.8.8.8
server=8.8.4.4

# === Static DNS Records (A and PTR) ===
{% for host in dnsmasq_static_hosts %}
# A record for {{ host.name }}
host-record={{ host.name }},{{ host.ip }}
# PTR record for {{ host.name }}
ptr-record={{ host.ip | regex_replace('^(\d+\.\d+\.\d+\.)(\d+)$', '\2.\1') }}in-addr.arpa.,{{ host.name }}
{% endfor %}

# === DHCP Reservations and DNS Records (A and PTR) ===
{% for host in dnsmasq_dhcp_reservations %}
# DHCP reservation for {{ host.hostname }}
dhcp-host={{ host.mac }},{{ host.ip }},{{ host.hostname }}
# A record for the FQDN (e.g., "console-node1.sddc.info")
host-record={{ host.hostname }}.{{ dnsmasq_domain }},{{ host.ip }}
# A record for the short name (e.g., "console-node1")
host-record={{ host.hostname }},{{ host.ip }}
# PTR record for {{ host.hostname }}
ptr-record={{ host.ip | regex_replace('^(\d+\.\d+\.\d+\.)(\d+)$', '\2.\1') }}in-addr.arpa.,{{ host.hostname }}.{{ dnsmasq_domain }}
{% endfor %}

# === DHCP Configuration ===
dhcp-range={{ dnsmasq_dhcp_range }}
dhcp-option=option:router,{{ dnsmasq_dhcp_router }}
dhcp-option=option:dns-server,{{ dnsmasq_dhcp_dns_server }}
dhcp-authoritative
log-dhcp

# === PXE/iPXE Chainloading Logic ===
enable-tftp
tftp-root = {{ tftp_root }}
dhcp-match=set:ipxe,175
dhcp-userclass=set:ipxe,iPXE
dhcp-match=set:efi-x86_64,option:client-arch,7
dhcp-match=set:efi-x86_64,option:client-arch,9
dhcp-boot=tag:!ipxe,tag:efi-x86_64,ipxe.efi
dhcp-boot=tag:ipxe,{{ ipxe_boot_url }}